
.App {
  font-family: sans-serif;
  text-align: center;

  padding: 10px;
}
.video-div {
  background-color: #363073;
  color: white;
  padding: 20px;
  padding-bottom: 50px;
}

.App h1 {
  font-size: 50px;
}
.App h2 {
  font-size: 35px;
}
.bOTXef {
  height: 65vh !important;
}
.hBVTtp {
  font-size: 30px !important;
}
.slider-bg {
  position: relative;
}
.fQkkzS {
  bottom: 60px !important;
}
.photos {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.side-padd {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.nav-div {
  padding-left: 100px;
  padding-right: 100px;
}
.nav-right {
  margin-right: 30px;
}
.footer-div {
  margin-top: 100px;
  background-color: #000021;
  color: white;
  padding: 50px;
  padding-left: 200px;
  padding-right: 300px;
}
.pic {
  background-color: #ff5000;
  height: 230px;
  width: 250px;
  border-radius: 10px;
}
.head-color {
  color: #000a47;
}
.social-media {
  position: relative;
  top: 6px;
}

.nav-items {
  position: relative;
  top: 10px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  color: #363073;
}
